* {
    box-sizing: border-box;
    font-family: Roboto , -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.75vmin;
    /*align-items: stretch;*/
    background: #333;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    text-shadow: 0px 0px 3px black;
    z-index: 2;
    pointer-events: none;
}

h1 {
    text-align: center;
    font-size: 4vmin;
    color: white;
    margin: 2vmin;
}

h1.zoom {
    font-size: 2vmin;
    margin: 0.5vmin;
}

#main {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    padding: 10vmin 0 5vmin 0;
}

#main > li {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex-grow: 1;
}

#main svg{
    width: 100%;
    max-width: 150px;
    border-radius: 0.25vmin;
}

#more {
    min-height: 20vmin;
}

#more div {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 150px;
}

#more span {
    font-size: 2vmin;
    font-weight: bold;
    color: #333;
}

#zoom {
    position: fixed;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100vh;
    z-index: 1;
}

#svgContainer {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 5vmin 1vmin;
}

#svgContainer svg {
    width: 100%;
    max-height: 100%;
    border-radius: 0.5vmin;
}

#tags {
    position: fixed;
    left: 0;
    top: 10vmin;
}

#tags span {
    background: white;
    color: #333;
    font-weight: bold;
    font-size: 2.5vmin;
    border-radius: 0.5vmin;
    margin: 0.5vmin;
    padding: 0.5vmin 1vmin;
    box-shadow: 0px 0px 3px black;
}

#download {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmin 3vmin;
    font-weight: bold;
    font-size: 3vmin;
    border-radius: 0.5vmin;
}

@media screen and (min-width : 768px) {
    #download {
        padding: 1.5vmin 2.25vmin;
        font-size: 2.5vmin;
    }
}

@media screen and (min-width : 1440px) {
    #download {
        padding: 1vmin 1.75vmin;
        font-size: 2vmin;
    }
}

#download {
    background: dodgerblue;
    bottom: 2vmin;
    right: 2vmin;
    text-decoration: none;
}

#download span {
    color: white;
}

#tag-container {
    position: fixed;
    display: flex;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    align-items: center;
    z-index: 1;
}

#tagList {
    width: 100vw;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#tagList li {
    background: #333;
    color: white;
    border-radius: 3px;
    border: 1px solid white;
    margin: 0.5vmin;
    padding: 5vmin;
    text-align: center;
    flex-grow: 1;
    font-size: 2vmin;
    min-width: 150px;
}

#tagList li.on {
    background: white;
    color: #333;
}

#btn-tag {
    background: red;
    color: white;
    position: fixed;
    top: 2vmin;
    right: 2vmin;
    padding: 2.5vmin 1.5vmin;
    border-radius: 5vmin;
    font-weight: bold;
    font-size: 2vmin;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 1.25vmin;
    text-shadow: 0px 0px 3px black;
    pointer-events: none;
}
footer p {
    color: white;
    margin: 0.5vmin;
}